{% extends "base.html" %}
{% block content %}
  <div class="page-header">
    <h1>Add multiple samples</h1>
  </div>
  <!--  WIP, but maybe instead of uploading only select server-side .json 
        files for obvious security reasons...                         -->
  <form method="post" action="">
    <div class="form-group required">
      <h3>Choose a .json file to upload:</h3>
      <div class="file-input">
        <input type="file" class="form-control-lg form-control-file" name="jsonUpload" accept=".json">
      </div>
    </div>
    <button type="" class="btn btn-primary">Upload</button>
  </form>
  <!-- -->
<form method="post" action="{{base_path}}/sample/add">
<div class="page-header">
    <h1>Add a single sample</h1>
  </div>

  <div class="form-group">
    <label class="control-label required">Filename</label> 
      <input type="text" name="filename" class="form-control" required>
  </div>
  <div class="form-group">
    <label class="control-label">Name <span class="i">(optional)</span></label>
    <input name="name" class="form-control">
  </div>
  <div class="form-group">
    <label class="control-label required">Duration <span class="i">(seconds)</span></label>
    <input type="number" step="any" min="0" max="9999" name="duration" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}