#main-container {
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid {
  max-width: 1200px;
  margin: 0px auto;
}

.navbar-nav {
  text-align: center;
}

.alert {
  margin-top: 30px;
}

.table-add {
  color: #0b0;
}

.btn-xs-diff{
  background-color: white;
}

.btn-xs-diff:hover{
  outline: red solid medium;
}

.table {
  margin-top: 30px;
}

#filter-bar {
  margin-top: 30px;
}

#table-header {
  background-color: #afdcaf;
}

.control-label.required:after {
  color: #d00;
  content: "*";
  font-size: 16px;
  position: absolute;
  margin-left: 2px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.i {
  font-weight: normal;
}